<!--add routing modules and connect the already created components-->
<app-header></app-header>
<app-home-jumbotron></app-home-jumbotron>
<br>
<br>
<app-general-cards></app-general-cards>
<br> 
<app-trusted-hospitals></app-trusted-hospitals>
<br>
<app-online-consultancy-ad></app-online-consultancy-ad>
<br>
<app-popular-categories></app-popular-categories> 
<br>
<app-pharmacy></app-pharmacy>
<br>

<app-footer></app-footer>
<!--<app-nursing-home></app-nursing-home>
<br>
    <app-hospitals></app-hospitals>
    <br>
    <app-hospital-registration></app-hospital-registration>
    <br>
    <app-diagonostics-registration></app-diagonostics-registration>
    <br>
    <app-login></app-login>
-->
