<div class="container">
<div class="row">
<h1>
<span> F</span>
<span class="m-left">i</span>
<span class="m-left">n</span>
<span class="m-left">d</span>
<span>Y</span>
<span class="m-left">o</span>
<span class="m-left">u</span>
<span class="m-left">r</span>
<span>C</span>
<span class="m-left">a</span>
<span class="m-left">r</span>
<span class="m-left">e</span>
</h1>
</div>



<div class="row">
<h2>Welcome to Family</h2>
</div>

<div class="row">
<div class="container info">
<form>
 <div class="form-group row">
     
      <div class="input-group ">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" id="email" placeholder="Email Id" aria-describedby="inputGroupPrepend" required>
        </div>
        </div>
  <div class="form-group">

      <input type="text" class="form-control" id="hospital" placeholder="Enter hospital's registration number">
    
  </div>
  <div class="form-group">
     
      <input type="text" class="form-control" id="address" placeholder="Address" required>
      
      </div>
      <div class="for-group row">

  <button style="margin-left: 18px" class="btn btn-primary">Sign Up Now</button>

  </div>
      </form>
      </div>
      </div>

</div>