<hr>
<div class="container">

<div class="row">
<h5 style="font-weight: bold; padding-left: 20px;"> HOSPITAL REGISTRATION </h5>
</div>

<hr> 

<form>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label" required>Hospital Name:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="hospitalName" placeholder="Enter Hospital Name">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Hospital Registration Number:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="registrationNumber" placeholder="Enter hospital's registration number">
    </div>
  </div>
  <div class="form-group row">
      <label  class="col-sm-3 col-form-label" for="validationCustom03">Address:</label>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="validationCustom03" placeholder="Address" required>
      </div>
      </div>
   <div class="form-group row">
      <label  class="col-sm-3 col-form-label" for="validationCustom03">State:</label>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="validationCustom03" placeholder="State" required>
      </div>
      </div>
   <div class="form-group row">
      <label  class="col-sm-3 col-form-label" for="validationCustom04">City:</label>
      <div class="col-sm-9">
      <input type="text" class="form-control" id="validationCustom04" placeholder="City" required>
      </div>
      </div>
    <div class="form-group row">
      <label  class="col-sm-3 col-form-label" for="validationCustom04">Pin Code:</label>
      <div class="col-sm-9">
      <input type="number" class="form-control" id="validationCustom04" placeholder="Pin Code" required>
      </div>
      </div>
      <div class="form-group row">
      <label  class="col-sm-3 col-form-label" for="validationCustom04">Contact Number:</label>
      <div class="col-sm-9">
      <input type="number" class="form-control" id="validationCustom04" placeholder="Contact Number" required>
      </div>
      </div>
      <div class="form-group row">
      <label  class="col-sm-3 col-form-label" for="validationCustom04">Ambulance Number:</label>
      <div class="col-sm-9">
      <input type="number" class="form-control" id="validationCustom04" placeholder="Ambulance Number" required>
      </div>
      </div>
      <div class="form-group row">
      <label  class="col-sm-3 col-form-label" for="validationCustom04">Blood Bank Number:</label>
      <div class="col-sm-9">
      <input type="number" class="form-control" id="validationCustom04" placeholder="Blood Bank Number" required>
      </div>
      </div>
      <div class="form-group row">
      <label class="col-sm-3 col-form-label" >Hospital Email ID:</label>
      <div class="input-group col-sm-9">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Email Id" aria-describedby="inputGroupPrepend" required>
        </div>
 
  </div>
  <div class="form-group row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2">
  <button class="btn btn-success">Submit</button>
  </div>
  </div>
</form>
</div>